form {
    padding: 30px;
    ion-item {
        font-family: "Montserrat SemiBold";
        font-size: 12px;
    }
    ion-item {
        --padding-start: 0px;
    }
    ion-button {
        margin-top: 20px;
    }
}
