<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabBar">
    <ion-tab-button tab="tab-home">
      <ion-icon size="small" name="home-outline"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab-history">
      <ion-icon size="small" name="cart-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab-reglas">
      <ion-icon size="small" name="settings-outline"></ion-icon>
      <ion-label>Reglas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-simulation">
      <ion-icon size="small" name="play-outline"></ion-icon>
      <ion-label>Simulacion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>